Language: Cpp
BasedOnStyle: Google
UseTab: Never
IndentWidth: 4
TabWidth: 4
AccessModifierOffset: -4
AlignConsecutiveMacros: true
AllowShortIfStatementsOnASingleLine: Never
SortIncludes: CaseInsensitive
ColumnLimit: 100
BraceWrapping:
    BeforeElse: true
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
AlignConsecutiveAssignments: false
InsertNewlineAtEOF: true
AllowShortFunctionsOnASingleLine: Empty
BreakAfterAttributes: Leave
AttributeMacros: [
    CONFIG_CLANG_NONNULL_QUALIFIER,
    CONFIG_CLANG_NULLABLE_QUALIFIER,
    RESTRICT_QUALIFIER,
]
StatementAttributeLikeMacros: [
    ATTRIBUTE_CONST,
    ATTRIBUTE_MAYBE_UNUSED,
    ATTRIBUTE_PURE,
    ATTRIBUTE_NOINLINE,
    ATTRIBUTE_ALWAYS_INLINE,
    ATTRIBUTE_COLD,
    ATTRIBUTE_HOT,
    ATTRIBUTE_ALLOC_SIZE,
    ATTRIBUTE_ACCESS,
    ATTRIBUTE_SIZED_ACCESS,
    ATTRIBUTE_ACCESS_NONE,
    ATTRIBUTE_NONNULL,
    ATTRIBUTE_NONNULL_ALL_ARGS,
    ATTRIBUTE_TARGET,
    ATTRIBUTE_LIFETIME_BOUND,
    ATTRIBUTE_REINITIALIZES,
    ATTRIBUTE_NODISCARD,
    ATTRIBUTE_NODISCARD_WITH_MESSAGE,
    ATTRIBUTE_NORETURN,
    ATTRIBUTE_NOTHROW,
    ATTRIBUTE_FALLTHROUGH,
]
StatementMacros: [
    CONFIG_ASSUME_STATEMENT,
]
BinPackParameters: false
