name: macOS CI

on: [push, workflow_dispatch]

permissions:
  contents: read

jobs:

  macOS-cmake-clang:
    name: test-on-macOS-${{ matrix.macos_versions }}
    runs-on: macos-${{ matrix.macos_versions }}
    strategy:
      fail-fast: false
      matrix:
        macos_versions: [14, 15]

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        brew update

        brew uninstall cmake
        brew install gcc libtool make ninja cmake
        # > GNU "make" has been installed as "gmake".
        # > If you need to use it as "make", you can add a "gnubin" directory
        # > to your PATH from your bashrc like:
        export PATH="/usr/local/opt/make/libexec/gnubin:$PATH"

    - name: Run tests
      run: |
        set -e
        cd ./tests
        chmod +x run_macos_clang_tests.sh
        ./run_macos_clang_tests.sh
